.articlebar {
  flex: 3;
  height: fit-content;
  margin: 20px;
  padding-bottom: 30px;
  background-color: #fdfbfb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 4px 3px #850000;
}

.articlebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.articlebarItem img {
  margin-top: 15px;
  width: 250px;
  height: 250px;
}

.sidebarTitle {
  width: 240px;
  text-align: center;
  font-family: "Varela Round";

}