.articles-search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-top: 7rem; */

}

.articlesTitle {
  margin: 10px;
  padding: 35px 10px;
  width: 80%;
  /* border-top: solid 1px #89FFFD;
  border-bottom: solid 1px #89FFFD; */
  text-align: center;
  font-family: 'Exo', sans-serif;
  font-size: 29px;
  line-height: 30px;
  color: #89FFFD;
  /* margin-top: 8rem; */
  margin-bottom: 2rem;
}

.articles-blog {
display: flex;
flex-direction: column;
align-items: center;
}
.articlecontainers-search{
  display: flex;
}

.articles-search{
  /* margin-top: 70px; */
}