.blogPost {
  margin-left: 15px;
  flex: 9 1;
  color: #fff;
  margin-top: 10px;
}
.blogPostName{
  margin-left: 5px;
}

.blogPostText {
  color: #fff;
  font-size: 20px;
  line-height: 37px;
}

.blogPostText::first-letter {
  margin-left: 20px;
  font-size: 50px;
  font-weight: 600;
}

.blogPostHolder {
  padding: 20px;
}

.blogPostImage {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
}

.blogPostTitle {
  text-align: center;
  margin: 10px;
  font-size: 35px;
  font-family: 'Exo';
  color: #89FFFD
}

.blogPostInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 23px;
  color: #dab506cf;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
}
.blogPostHolder{
  padding: 1rem 6rem 0rem 7rem;
}

