.section {
  width: 100%;
}
.blogPosts {
  flex: 7;
  display: flex;
  flex-wrap: wrap;
  float: left;
  width: 70%;
  margin: 10px;
}
.bloggg h1 {
  font-family:'Montserrat', sans-serif;
}

.blog:hover{
  box-shadow: 5px 5px #850000;  
}

.articles {
  float: right;
}

.blogPostsTitle {
  margin: 10px;
  padding: 5px;
  width: 80vw;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  line-height: 19px;
  color: #850000;
}

.category-dropdown{
  padding: 21px;
  float: right;
  font-size: 12px;
}

@media only screen and (max-width: 1182px) {
  .section {
    width: 100%;
  }

  
  .blogPosts {
    flex: 7;
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: 40%;
    margin: 10px;
  }

  .articles {
    float: right;
  }
  
  .blogPostsTitle {
    margin: 10px;
    padding: 5px;
    width: 80vw;
    /* border-top: solid 1px #a7a4a4; */
    /* border-bottom: solid 1px #a7a4a4; */
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    line-height: 19px;
    color: #850000;
  }
}