.blog {
  width: 385px;
  margin: 0px 25px 40px 25px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: transparent;
  border-radius: 5px;
}

.blogImage {
  width: 385px;
  height: 280px;
  object-fit: cover;
  border-radius: 7px;
}

.blogInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogCategories {
  font-family: "Varela Round";
  font-weight: 400;
  font-size: 15px;
  color: #be9656;
  line-height: 19px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.blogSubTitle {
  font-family: "Varela Round";
  font-size: 24px;
  font-weight: 900;
  margin-top: 15px;
  cursor: pointer;
  text-align: center;
  color: #89fffd;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.blogDate {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 13px;
  font-weight: 400;
  color: #999999;
  margin-top: 15px;
}

.blogDescription {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: white;
  margin: 8px;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-align: center;
}
@keyframes jump-shaking {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(0eg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.edit-icon-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.edit-icon {
  color: #89fffd;
  font-size: 80px;
}
.edit-icon:hover {
  color: white;
  transform: scale(2.4);
  border-radius: 40px;
  animation: jump-shaking 0.99s infinite;
}

.deletee-icon {
  color: #89fffd;
  cursor: pointer;
  margin-top: 7px;
  font-size: 35px;
}

.deletee-icon:hover {
  color: white;
  transform: scale(2.4);
  border-radius: 40px;
  animation: jump-shaking 0.99s infinite;
}
.readBlog {
  width: 100%;
}

.MuiOutlinedInput-notchedOutline {
  color:white;
  border-width: 1px !important;
  border-color: #89fffd !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #89fffd !important;
}

.MuiInputLabel-root {
  color: white !important;
} 

.MuiSelect-icon{
  color:white;
}
