.section {
  width: 100%;
}
.blogPosts {
  flex: 7;
  display: flex;
  flex-wrap: wrap;
  float: left;
  width: 70%;
  margin: 10px;
}
.bloggg h1 {
  font-family: 'Exo', sans-serif;
  color: #89FFFD;
  font-size: 70px;;
}


.blog:hover{
  box-shadow: 1px 1px 20px 1px #89FFFD;
}

.articles-blog {
  display: flex;
  flex-direction: column;
  float:right;
  flex: 9 1;
}
.articles {
  float: right;
}

.blogPostsTitle {
  margin: 10px;
  padding: 5px;
  width: 80vw;
  text-align: center;
  font-family: "Exo", sans-serif;
  font-size: 48px;
  line-height: 19px;
  color: #89FFFD;
}

.category-dropdown{
  padding: 21px;
    float: left;
    font-size: 12px;
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
}

@media only screen and (max-width: 1182px) {
  .section {
    width: 100%;
  }

  
  .blogPosts {
    flex: 7;
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: 40%;
    margin: 10px;
  }

  .articles {
    float: right;
  }
  
  .blogPostsTitle {
    margin: 10px;
    padding: 5px;
    width: 80vw;
    /* border-top: solid 1px #a7a4a4; */
    /* border-bottom: solid 1px #a7a4a4; */
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    line-height: 19px;
    color: #89FFFD;
  }
}
.blogdiv{
  display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}