.blogPost {
  flex: 9;
}
.blogPostName{
  margin-left: 5px;
}

.blogPostText {
  color: #3b3a3a;
  font-size: 30px;
  line-height: 37px;
}

.blogPostText::first-letter {
  margin-left: 20px;
  font-size: 50px;
  font-weight: 600;
}

.blogPostHolder {
  padding: 20px;
}

.blogPostImage {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}

.blogPostTitle {
  text-align: center;
  margin: 10px;
  font-size: 40px;
  font-family: "Lora", sans-serif;
}

.blogPostInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 23px;
  color: #be9656;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
}


