.comment {
  display:flex;
  flex-direction: column;
  background-color: rgb(193 193 184 / 36%);
  margin: 20px;
  border: solid;
  border-radius: 10px;
  color: white;
}
.commentDesc {
  margin:20px;
}

.commentDeets {
  margin: 0 25px 20px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment:hover {
 -webkit-box-shadow: 8px 8px 0px 0px rgba(197, 203, 227, 1);
 -moz-box-shadow: 8px 8px 0px 0px rgba(197, 203, 227, 1);
 box-shadow: 8px 8px 0px 0px rgba(197, 203, 227, 1);
}