.comments {
  /* width:100%; */
  padding-top: 20px;
}

.commentsSubtitle {
  color: white;
}

.commentBox {
  color: white;
}
.commentsTitle{
color:#fff;
}
.commentIcon{
  color:#fff;
}
.commentinputText{
  color:#fff;
}