.comment {
  display:flex;
  flex-direction: column;
  background-color: transparent;
  margin: 20px;
  border: solid #89FFFD;;
  border-radius: 10px;
  color: white;
}
.commentDesc {
  margin: 0px 15px 0px 15px;
  line-height: 27px;
  font-size: 16.5px;
}

.commentDeets {
  margin: 0px 26px 18px 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #89FFFD;
  font-family: 'Lora';
}

.comment:hover {
 -webkit-box-shadow: 8px 8px 0px 0px rgba(197, 203, 227, 1);
 -moz-box-shadow: 8px 8px 0px 0px rgba(197, 203, 227, 1);
 box-shadow: 5px 5px 11px 1px rgba(197, 203, 227, 1)
}

.commentIcon{
  color: #89FFFD;
}