.drug {
  margin: 20px;
  color: #fff;
}

.drug-container {
  margin: 3rem;
  width: 70vw;
  border-radius: 15px;
  padding: 1rem;
  float: left;
  background-color: #dcd2d2f0;
  box-shadow: 0px 0px 9px 9px #dcd2d2f0;
}

.drug-name {
  color: #89fffd;
  margin-left: 20px;
  font-size: 18px;
  font-family: "Exo";
}

.subtitle {
  color: black;
  font-family: "Exo";
}

.drug-image {
  border-radius: 76%;
  width: 15rem;
  height: 15rem;
  box-shadow: 17px 6px 19px -7px #ef32d987;
  float: right;
  margin: 3rem 3rem 7rem 0rem;
  opacity: 0.83;
}

.image1 {
  height: 0;
  padding-top: 145px;
}

.image-container {
  flex: 9 1;
  display: flex;
  flex-direction: column;
  float: right;
  width: 10vw;
}

.drug-text {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #1f1b1e;
  margin: 8px;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.un-fav-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  color: #ef32d9;
}

.green-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  color: #89fffd;
}
.pink-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  color: #ef32d9;
}
.drug-faved {
  font-size: 25px;
}

.drugname {
  color: #89fffd;
  font-size: 30px;
  font-family: "Exo";
}
.unfavbutton {
  display: flex;
  color: #ef32d9;
  font-family: "Exo";
}

.unfavtext {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.drugcontainer {
  margin-bottom: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.med-list-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.med-list-icon h3 {
  margin-right: 10px;
}
.mymedlist {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}
.mymedListSection h1 {
  margin: 1rem 2rem 0rem 3rem;
  font-family: "Exo";
  font-size: 43px;
  color: #88fffd;
}
.mydrugcontainer {
  margin: 40px;
  display: flex;
  flex-direction: row;
  margin: 40px;
  border: solid 1px #89fffda1;
  width: 100%;
  border-radius: 30px;
}

.notes {
  color: white;
}
.name-drug {
  padding-left: 89px;
  margin-left: 45px;
}
.drugListItemContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.drugListItem {
  display: flex;
  justify-content: space-between;
}