/* .hero{
  position:relative;
width:100%;
height: 100vh;
background-color: #DC0000;
}
.hero__image{
  width:1550px;
  /* margin: 0 auto; */
  /* height: 100%;
  object-fit: contain;
  position: absolute;
}
.image_hero{
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  height:100%;
}
.overlay{
  height: 500px;
  width:100%;
  position:absolute;
  background-color: bisque;
  opacity:0.23;
bottom:30vh;

}

.hero__title{
  position:absolute;
  bottom: 17%;
    right: 9%;
    background-color: #850000;
    font-size: 2rem;
    padding: 15px;
    color: #fdfbfb;
    width: 606px;
    padding: 27px;
    margin-bottom: -20px; */
    /* background-color: #551b1b; */
    /* border: 5px solid #fdfbfb;
    border-radius: 45px;
    box-shadow: inset -1px -1px 16px 0px rgb(0, 0, 0);

} */ 

.hero {
  display:flex;
  background-color: #1E1E1E;

}

.hero-container {
  float: left;
  width: 50vw;
  height: 100vh;
  margin-left: 100px;
  height: 90vh;
  margin: 10px 13px 0px 100px;
}

.hero-subtitle {
  float: right;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 75vw;
  height: 100%;
  margin-top: 300px;
}

.hero-image {
  width: 100%;
  height: 85vh;
  float: left;
}

.hero-title {
 font-family: 'Exo';
 font-size: 56px;
 background: linear-gradient(90deg, #EF32D9 0%, #89FFFD 100%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.hero-paragraph{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: left;
  color: #FFFFFF;
  margin-top: 30px;
  margin-right: 50px;
}