.blog {
  width: 27rem;
  margin: 0px 25px 40px 25px;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  background-color: #2e2d2d;
  border-radius: 15px;
  padding: 1.5rem 2rem 1rem 2rem;
  align-items: center;
}

.blogImage {
  width: 385px;
  height: 280px;
  object-fit: cover;
  border-radius: 7px;
}

.blogInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogCategories {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #be9656;
  line-height: 19px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.myblogTitle {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin-top: 15px;
  cursor: pointer;
}

.blogDate {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  color: #999999;
  margin-top: 15px;
}

.blogDescription {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: white;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.myBlogPosts {
  flex: 7 1;
  display: flex;
  flex-wrap: wrap;
  /* float: left; */
  /* width: 70%; */
  margin: 25px 0px 0px 48px;
}

.blog-button {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  background-color: #2e2d2d;
  font-size: 1rem;
  font-family: "Exo";
  line-height: 1.5;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  padding: 0.375rem 0.75rem;
  text-decoration: none;
  color: #89fffd;
  border-color: #2e2d2d;
  border-radius: 999px;
  margin-top: 35px;
  width: 100%;
}

.blog-button:hover {
  background-color: #89fffd;
  color: #2e2d2d;
}

.blogTitle {
  color: #89fffd;
}
