@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.searchPage {
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.search-outer {
  float: left;
  margin-left: 5rem;
  height: 30rem;
}

.icon {
  position: relative;
  top: 77px;
  right: 70px;
  font-size: 60px;
  color: #89FFFD;
}

.searchTitle h1 {
  margin-left:15px;
  font-size: 49px;
  font-family:'Exo', sans-serif;;
  color:#89FFFD;
  display: flex;
  justify-content: center;
}

.search {
  width: 75vw;
  /* position: relative; */
  display: flex;
}

.form-search{
  width:100%;
}
.searchTerm {
  width: 100%;
  padding: 15px;
  border-radius: 45px;
  outline: none;
  color: #9DBFAF;
  font-size: 30px;
  height: 75px;

}

.searchTerm:focus{
  color: #EF32D9;
  
}
.name-drug:hover{
  background-color: #EF32D9;
  direction: ltr;
  margin-left: 139px;
  padding-left: 0px;
}
.name-drug {
  padding-left: 20px;
  margin-left: 20px;
}

.drug-item {
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  height: 20.4rem;
  overflow: auto;
  overflow-y: auto;
  color: #89FFFD;
  margin-left: 20px;
  font-size: 32px;
  cursor:pointer;
  direction: rtl;

}

.wrap {
  display: flex;
  justify-content: center;
}


.searchdiv{
  display: flex;
  flex-direction: column;
  align-items: stretch;

}