.slider{
  display:flex;
  align-items: center;
  margin:20px;
  opacity: 0;
  transform: scale(85%);
  transition: 0.75s;

}
.slider--zoom{
  opacity: 1;
  transform: scale(100%);
  transition: 4s;
}
/* .slider__image{
  width:60%;
  border-radius: 300px;
} */
.slider__image {
  animation: imgRotate 6s  ease-in-out forwards ;
  border-radius: 76%;
  width: 720px;
  height: 720px;
  box-shadow: 0px 0px 31px 4px #411b2f;
}
.slider_container_one{
  background-color: #1E1E1E;
  box-shadow: 0 0 5px 10px #2e2d2d;
  text-decoration-color: #fff;
}
.slider_container_two{
  background-color: #2e2d2d;
  box-shadow: 0 0 5px 10px #1E1E1E;
}

@keyframes imgRotate {
  100% {
      transform: rotate(360deg);
  }
}
.slider__content{
  flex:1;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}
.slider__title{
  text-align: center;
  font-size: 66px;

  padding-bottom: 50px;
  /* font-family: 'Archivo Narrow', sans-serif; */


}
.slider__subtitle{
  color:#fff;
}
.slider__title :visited {
  color: #65FFFC;
}

.slider__subtitle{
  font-size: 33px;
  font-family: 'Archivo Narrow', sans-serif;

}
@media screen and (max-width:800px){
  .slider{
    flex-direction: column;
    background-color: aliceblue;
  }
  .slider__image{
    width: 100%;
  }
}
.App-2{
  background-color: #2e2d2d;
}