.slider {
  display: flex;
  align-items: center;
  margin: 20px;
  opacity: 0;
  transform: scale(85%);
  transition: 0.5s;
  padding: 1.5rem;
}

.slider--zoom {
  opacity: 1;
  transform: scale(100%);
  transition: 7s;
  /* padding: 1rem; */
}

/* .slider__image{
  width:60%;
  border-radius: 300px;
} */
.slider__image {
  animation: imgRotate 6s ease-in-out forwards;
  border-radius: 76%;
  width: 20rem;
  height: 20rem;
  box-shadow: 0px 0px 19px 2px #EF32D9;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
}

.slider_container_one {
  background-color: #1E1E1E;
  box-shadow: 0 0 5px 10px #2e2d2d;
  text-decoration-color: #fff;
}

.slider_container_two {
  background-color: #2e2d2d;
  box-shadow: 0 0 5px 10px #1E1E1E;
}

@keyframes imgRotate {
  100% {
    transform: rotate(360deg);
  }
}

.slider__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: center;
}

.slider__title {
  text-align: center;
  font-size: 55px;
  font-family: 'Exo';
  padding-bottom: 20px;
  /* font-family: 'Archivo Narrow', sans-serif; */
}
a {
  text-decoration: none;
}

.slider__title :visited {
  color: #65FFFC;
}

.slider__subtitle {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  color: #fff;
  text-align: justify;
  padding-left: 3rem;
  padding-right: 3rem;
}

@media screen and (max-width:800px) {
  .slider {
    flex-direction: column;
    background-color: aliceblue;
  }

  .slider__image {
    width: 100%;
  }
}

.App-2 {
  background-color: #2e2d2d;
}